<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Car Wash">
    <meta property="og:description" content="description here">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- links -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">

    <title>Car Wash | Xisob-kitob</title>
</head>

<body>
    <header>
        <div class="section-wrapp">
            <div class="container">
                <div class="header-top_wrapper">
                    <h1 class="main-header_title">
                        Xisob-kitob
                    </h1>
                    <div class="header-info_wrapper">
                        <div class="header-info_item_wrapper">
                            <i class="fa-solid fa-clock"></i>
                            <span class="header-time_info"></span>
                        </div>
                        <div class="header-info_item_wrapper">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span class="header-date_info"></span>
                        </div>
                        <div class="header-info_item_wrapper">
                            <i class="fa-solid fa-clouds"></i>
                            <span class="booked-wzs-day-number">22°</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-side_bar_wrapper">
            <div class="header-side_bar">
                <nav class="header_navigation">
                    <ul class="nav_items_wrapper">
                        <li class="nav_item selected"><i class="fa-solid fa-house"></i></li>
                        <li class="nav_item"><i class="fa-solid fa-square-plus"></i></li>
                        <li class="nav_item"><i class="fa-solid fa-car-mirrors"></i></li>
                        <li class="nav_item"><i class="fa-solid fa-car-wash"></i></li>
                        <li class="nav_item"><i class="fa-solid fa-square-dollar"></i></li>
                        <li class="nav_item nav_item_last"><i class="fa-duotone fa-gear"></i></li>
                        <li class="nav_item_helper"></li>
                    </ul>
                </nav>
                <div class="nav_bg"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="cash-hero">
            <div class="section-wrapp">
                <div class="container">
                    <ul class="cash-hero_upper_info_list">
                        <li class="cash-hero_upper_item vanilla-item">
                            <ul class="cash-hero_cash_list">
                                <li class="cash-hero_cash_item">
                                    <img src="./assets/image/money-recive.png" alt="">
                                </li>
                                <li class="cash-hero_cash_item">
                                    <p class="cash-hero_cash_text">Bugungi kirim</p>
                                    <p class="cash-hero_cash_qty">+10 560 000 UZS</p>
                                </li>
                            </ul>
                        </li>
                        <li class="cash-hero_upper_item minus vanilla-item">
                            <ul class="cash-hero_cash_list">
                                <li class="cash-hero_cash_item">
                                    <img src="./assets/image/money-send.png" alt="">
                                </li>
                                <li class="cash-hero_cash_item">
                                    <p class="cash-hero_cash_text">Bugungi chiqim</p>
                                    <p class="cash-hero_cash_qty">-460 000 UZS</p>
                                </li>
                            </ul>
                        </li>
                        <li class="cash-hero_upper_item vanilla-item">
                            <a href="#">
                                <ul class="cash-hero_cash_list">
                                    <li class="cash-hero_cash_item">
                                        <img src="./assets/image/chart-square.png" alt="">
                                    </li>
                                    <li class="cash-hero_cash_item">
                                        <p class="cash-hero_cash_text">Statistika</p>
                                        <p class="cash-hero_cash_qty">bo‘limi</p>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="cash-hero_upper_item minus vanilla-item cash-hero_form_opener">
                            <ul class="cash-hero_cash_list">
                                <li class="cash-hero_cash_item">
                                    <img src="./assets/image/receipt-edit.png" alt="">
                                </li>
                                <li class="cash-hero_cash_item">
                                    <p class="cash-hero_cash_text">Chiqim</p>
                                    <p class="cash-hero_cash_qty">qo‘shish</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form action="" class="cash-hero_form">
                        <h1 class="cash-hero_form_heading">
                            Chiqim qo‘shish
                        </h1>


                        <div class="cash-hero_output_wrapper">
                            <input type="text" placeholder="Chiqim nomi" name="name_of_output">
                            <input type="number" placeholder="Summasi" min="0" name="qty_of_output">
                            <textarea placeholder="Izoh" name="comment_to_output" value=""></textarea>
                        </div>


                        <div class="cash-hero_salary_wrapper">
                            <select name="salary_for_worker" class="">
                                <option value="" selected style="display: none;">Ishchi</option>
                                <option value="khan_solo">Khan Solo</option>
                                <option value="khan_solo">Khan Solo</option>
                                <option value="khan_solo">Khan Solo</option>
                                <option value="khan_solo">Khan Solo</option>
                                <option value="khan_solo">Khan Solo</option>
                            </select>
                            <input type="number" placeholder="Oyligi" min="0" name="qty_of_salary">
                        </div>



                        <div class="cash-hero_form_closers">
                            <div class="cash_hero_form_closer"></div>
                            <div class="cash_hero_form_closer"></div>
                        </div>
                        <div class="cash-hero_form_center">
                            <button type="submit">Qo‘shish</button>
                        </div>
                    </form>
                    <div class="cash-hero_form_bg"></div>
                    <div class="cash-hero_info_workers">
                        <h1 class="cash-hero_info_qty_workers">
                            Ishchilar: 6ta
                        </h1>
                        <ul class="cash-hero_worker_list">
                            <li class="cash-hero_worker_item">
                                <ul class="cash-hero_worker_detail_list">
                                    <li class="cash-hero_worker_detail_item">Ism</li>
                                    <li class="cash-hero_worker_detail_item">Bugunlik ish haqi</li>
                                    <li class="cash-hero_worker_detail_item">Foiz</li>
                                    <li class="cash-hero_worker_detail_item">Ish haqini berish</li>
                                </ul>
                            </li>
                            <li class="cash-hero_worker_item">
                                <ul class="cash-hero_worker_detail_list">
                                    <li class="cash-hero_worker_detail_icon">
                                        <i class="fa-regular fa-image-portrait"></i>
                                    </li>
                                    <li class="cash-hero_worker_detail_item">Khan Solo</li>
                                    <li class="cash-hero_worker_detail_item">50 000 UZS</li>
                                    <li class="cash-hero_worker_detail_item">50%</li>
                                    <li class="cash-hero_worker_detail_item">
                                        <div class="cash-form_salary_opener">
                                            <img src="./assets/image/money-send-bold.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="cash-hero_worker_item">
                                <ul class="cash-hero_worker_detail_list">
                                    <li class="cash-hero_worker_detail_icon">
                                        <i class="fa-regular fa-image-portrait"></i>
                                    </li>
                                    <li class="cash-hero_worker_detail_item">Harison Ford</li>
                                    <li class="cash-hero_worker_detail_item">50 000 UZS</li>
                                    <li class="cash-hero_worker_detail_item">50%</li>
                                    <li class="cash-hero_worker_detail_item">
                                        <div class="cash-form_salary_opener">
                                            <img src="./assets/image/money-send-bold.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="cash-hero_worker_item">
                                <ul class="cash-hero_worker_detail_list">
                                    <li class="cash-hero_worker_detail_icon">
                                        <i class="fa-regular fa-image-portrait"></i>
                                    </li>
                                    <li class="cash-hero_worker_detail_item">Useyn Bolt</li>
                                    <li class="cash-hero_worker_detail_item">50 000 UZS</li>
                                    <li class="cash-hero_worker_detail_item">50%</li>
                                    <li class="cash-hero_worker_detail_item">
                                        <div class="cash-form_salary_opener">
                                            <img src="./assets/image/money-send-bold.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="cash-hero_worker_item">
                                <ul class="cash-hero_worker_detail_list">
                                    <li class="cash-hero_worker_detail_icon">
                                        <i class="fa-regular fa-image-portrait"></i>
                                    </li>
                                    <li class="cash-hero_worker_detail_item">Khan Solo</li>
                                    <li class="cash-hero_worker_detail_item">50 000 UZS</li>
                                    <li class="cash-hero_worker_detail_item">50%</li>
                                    <li class="cash-hero_worker_detail_item">
                                        <div class="cash-form_salary_opener">
                                            <img src="./assets/image/money-send-bold.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="cash-hero_worker_item">
                                <ul class="cash-hero_worker_detail_list">
                                    <li class="cash-hero_worker_detail_icon">
                                        <i class="fa-regular fa-image-portrait"></i>
                                    </li>
                                    <li class="cash-hero_worker_detail_item">Harison Ford</li>
                                    <li class="cash-hero_worker_detail_item">50 000 UZS</li>
                                    <li class="cash-hero_worker_detail_item">50%</li>
                                    <li class="cash-hero_worker_detail_item">
                                        <div class="cash-form_salary_opener">
                                            <img src="./assets/image/money-send-bold.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="cash-hero_worker_item">
                                <ul class="cash-hero_worker_detail_list">
                                    <li class="cash-hero_worker_detail_icon">
                                        <i class="fa-regular fa-image-portrait"></i>
                                    </li>
                                    <li class="cash-hero_worker_detail_item">Useyn Bolt</li>
                                    <li class="cash-hero_worker_detail_item">50 000 UZS</li>
                                    <li class="cash-hero_worker_detail_item">50%</li>
                                    <li class="cash-hero_worker_detail_item">
                                        <div class="cash-form_salary_opener">
                                            <img src="./assets/image/money-send-bold.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="section-wrapp">
            <div class="container">
                <ul class="footer-list">
                    <li class="footer-item">
                        Copyright © 2023. CarWash. All rights reserved.
                    </li>
                    <li class="footer-item">
                        <ul class="footer-inner_list">
                            <li class="footer-inner_item">
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="footer-inner_item">
                                <a href="#">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="./assets/js/vanilla-tilt.min.js"></script>
    <script src="./assets/js/cash.js"></script>
</body>

</html>