<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Car Wash">
    <meta property="og:description" content="description here">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- links -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">
    <title>Logout Car Wash</title>
</head>

<body>
    <div class="login-hero">
        <div class="section-wrapp">
            <div class="login-container">
                <ul class="login-hero_list">
                    <li class="login-hero_item">
                        <img src="./assets/image/car-login.png" class="login-hero_image changed" alt="">
                    </li>
                    <li class="login-hero_item">
                        <form action="" class="login-hero_form">
                            <h1 class="login-hero_form_heading">
                                Chikib ketildi!
                            </h1>
                            <p class="login-hero_form_text">
                                Tizimga qayta kirish uchun shu yerga <a class="logout-hero_form_link"
                                    href="./login.html">bosing</a>
                            </p>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./assets/js/logout.js"></script>
</body>

</html>