{% extends 'wrapper.html' %}
{% block title %}Navbatlar{% endblock %}
{% block page %}Navbatlar{% endblock %}
{% block content %}
<center>
    <br>
    <br>
    <br>
    <h1>
        Hozircha navbatlar yo'q
    </h1>
</center>
<!-- <ul class="navbat-hero_main_list">
    <li class="navbat-hero_main_item">
        <ul class="navbat-hero_inner_list">
            <li class="navbat-hero_inner_item_number">
                <a href="#">
                    #1
                </a>
            </li>
            <li class="navbat-hero_inner_item_photo navbat-hero_inner_item">
                <a href="#">
                    <img src="./assets/image/gentra.png" alt="">
                </a>
            </li>
            <li class="navbat-hero_inner_item_name navbat-hero_inner_item">
                <a href="#">
                    Gentra
                </a>
            </li>
            <li class="navbat-hero_inner_item_mark navbat-hero_inner_item">
                <a href="#">
                    <img src="./assets/image/chevrolet-logo.png" alt="">
                </a>
            </li>
            <li class="navbat-hero_inner_item_color navbat-hero_inner_item">
                <a href="#">
                    Oq
                </a>
            </li>
            <li class="navbat-hero_inner_item_type navbat-hero_inner_item">
                <a href="#">
                    Oddiy
                </a>
            </li>
            <li class="navbat-hero_inner_item_cost navbat-hero_inner_item">
                <a href="#">
                    40 000 UZS
                </a>
            </li>
        </ul>
    </li>
</ul> -->
{% endblock %}