{% extends 'wrapper.html' %}
{% load static %}
{% block page %}Sozlamalar{% endblock %}
{% block title %}Sozlamalar{% endblock %}
{% block content %}
<br>
<div class="settings-hero_workers_wrapper">
    <ul class="settings-hero_workers_heading_info">
        <li class="settings-hero_workers_item">Ishchilar: 4ta</li>
        <li class="settings-hero_workers_item">
            <button class="settings-hero_workers_btn">
                <i class="fa-light fa-circle-plus"></i>
                <p>ishchi qo‘shish</p>
            </button>
        </li>
    </ul>
    <ul class="settings-hero_worker_info_list_upper">
        <li class="settings-hero_worker_info_item">Ism</li>
        <li class="settings-hero_worker_info_item">Foiz</li>
        <li class="settings-hero_worker_info_item">Bugunlik ish haqi</li>
        <li class="settings-hero_worker_info_item">O‘zgartirish</li>
    </ul>
    <ul class="settings-hero_worker_list">
        <li class="settings-hero_worker_item">
            <ul class="settings-hero_worker_info_list">
                <li class="settings-hero_worker_info_item">Muzaffar</li>
                <li class="settings-hero_worker_info_item">50%</li>
                <li class="settings-hero_worker_info_item">0
                    UZS</li>
                <li class="settings-hero_worker_info_item">
                    <img class="settings-hero_form_opener give_salary" src="{% static 'assets/image/money-send-bold.png' %}" alt="">
                    <img class="settings-hero_form_opener edit" src="{% static 'assets/image/edit.png' %}" alt="">
                    <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                </li>
            </ul>
        </li>
        <li class="settings-hero_worker_item">
            <ul class="settings-hero_worker_info_list">
                <li class="settings-hero_worker_info_item">Abdujalil</li>
                <li class="settings-hero_worker_info_item">50%</li>
                <li class="settings-hero_worker_info_item">0
                    UZS</li>
                <li class="settings-hero_worker_info_item">
                    <img class="settings-hero_form_opener give_salary" src="{% static 'assets/image/money-send-bold.png' %}" alt="">
                    <img class="settings-hero_form_opener edit" src="{% static 'assets/image/edit.png' %}" alt="">
                    <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                </li>
            </ul>
        </li>
        <li class="settings-hero_worker_item">
            <ul class="settings-hero_worker_info_list">
                <li class="settings-hero_worker_info_item">Ulug'bek</li>
                <li class="settings-hero_worker_info_item">50%</li>
                <li class="settings-hero_worker_info_item">0
                    UZS</li>
                <li class="settings-hero_worker_info_item">
                    <img class="settings-hero_form_opener give_salary" src="{% static 'assets/image/money-send-bold.png' %}" alt="">
                    <img class="settings-hero_form_opener edit" src="{% static 'assets/image/edit.png' %}" alt="">
                    <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                </li>
            </ul>
        </li>
        <li class="settings-hero_worker_item">
            <ul class="settings-hero_worker_info_list">
                <li class="settings-hero_worker_info_item">Abdulaziz</li>
                <li class="settings-hero_worker_info_item">50%</li>
                <li class="settings-hero_worker_info_item">0
                    UZS</li>
                <li class="settings-hero_worker_info_item">
                    <img class="settings-hero_form_opener give_salary" src="{% static 'assets/image/money-send-bold.png' %}" alt="">
                    <img class="settings-hero_form_opener edit" src="{% static 'assets/image/edit.png' %}" alt="">
                    <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- Here informations -->
<div class="settings-hero_informations_wrapper">
    <div class="settings-hero_workers_wrapper yellow">
        <ul class="settings-hero_workers_heading_info">
            <li class="settings-hero_workers_item">Yuvish yo‘laklari</li>
            <li class="settings-hero_workers_item">
                <button class="settings-hero_workers_btn">
                    <i class="fa-light fa-circle-plus"></i>
                    <p>yo‘lak qo‘shish</p>
                </button>
            </li>
        </ul>
        <ul class="settings-hero_worker_list">
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">1-yuvish yo‘lagi
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">2-yuvish yo‘lagi
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">3-yuvish yo‘lagi
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">4-yuvish yo‘lagi
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">5-yuvish yo‘lagi
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">6-yuvish yo‘lagi
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">7-yuvish yo‘lagi
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">8-yuvish yo‘lagi
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="settings-hero_workers_wrapper">
        <ul class="settings-hero_workers_heading_info">
            <li class="settings-hero_workers_item">Xizmatlar</li>
            <li class="settings-hero_workers_item">
                <button class="settings-hero_workers_btn">
                    <i class="fa-light fa-circle-plus"></i>
                    <p>xizmat qo‘shish</p>
                </button>
            </li>
        </ul>
        <ul class="settings-hero_worker_list">
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">Chang yutgich
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">Ko'pirtirgich
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">Hushbo‘ylik
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="settings-hero_workers_wrapper yellow">
        <ul class="settings-hero_workers_heading_info">
            <li class="settings-hero_workers_item">
                Tariflar </li>
            <li class="settings-hero_workers_item">
                <button class="settings-hero_workers_btn">
                    <i class="fa-light fa-circle-plus"></i>
                    <p>tarif qo‘shish</p>
                </button>
            </li>
        </ul>
        <ul class="settings-hero_worker_list">
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">
                        Oddiy
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
            <li class="settings-hero_worker_item">
                <ul class="settings-hero_worker_info_list">
                    <li class="settings-hero_worker_info_item">
                        Premium
                    </li>
                    <li class="settings-hero_worker_info_item">
                        <img class="settings-hero_form_opener delete" src="{% static 'assets/image/trash.png' %}" alt="">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Informations end -->

<!-- Form Starts -->
<form action="" class="settings-hero_information_form">
    <h1 class="settings-hero_form_heading">
        Ishchi qo‘shish
    </h1>

    <div class="settings-hero_worker_add_wrapper settings-hero_form_info_wrapper">
        <input type="text" name="name_of_worker" class="ishchi edit worker_name settings-form_inputs"
            placeholder="Ishchi ismi">
        <select name="workers_for_salary" class="ishchi oylik settings-form_inputs">
            <option value="" selected style="display: none;">
                Kimga oylik beramiz?
            </option>
            <option value="khan_solo">
                Khan Solo
            </option>
            <option value="john_doe">
                John Doe
            </option>
            <option value="marcus_circus">
                Marcus Circus
            </option>
        </select>
        <input type="number" name="percent_of_worker" class="ishchi edit foiz settings-form_inputs" min="0" max="50"
            placeholder="Ishchi oylik foizi">
        <input type="number" name="salary_of_worker" class="ishchi edit oylik kunlik settings-form_inputs" min="0"
            placeholder="Ishchi oyligi">
    </div>

    <div class="settings-hero_worker_add_wrapper delete closed settings-hero_form_info_wrapper">

        <input type="hidden" name="deleting_name" value="">
        <h1>
            "Khan solo" ni ochirilsinmi?
        </h1>

    </div>

    <div class="settings-hero_path_add_wrapper settings-hero_form_info_wrapper">
        <input type="number" name="number_of_path" class="yolak settings-form_inputs" min="0"
            placeholder="Yolak raqami">
    </div>

    <div class="settings-hero_service_add_wrapper settings-hero_form_info_wrapper">
        <input type="text" name="name_of_service" class="xizmat settings-form_inputs" placeholder="Servis nomi">
    </div>

    <div class="settings-hero_rate_add_wrapper settings-hero_form_info_wrapper">
        <input type="text" name="name_of_rate" class="tarif settings-form_inputs" placeholder="Tarif nomi">
    </div>

    <button type="submit">
        qo‘shish
    </button>
</form>

<div class="settings_form_bg"></div>
<!-- Form Ends -->
{% endblock %}

{% block script %}
<script src="{% static 'assets/js/settings.js' %}"></script>
{% endblock script %}
    