{% extends 'wrapper.html' %}
{% block title %}Yolaklar{% endblock %}
{% block page %}Yolaklar{% endblock %}
{% block content %}
<div class="washing-hero_list_wrapper">
    <ul class="washing-hero_list">
        <li class="washing-hero_item">
            <span class="washing-hero_item_path_number">
                #1 yo‘lak
            </span>
            <div class="washing-hero_item_image_wrapper">
                <img src="Link of image here" alt="">
            </div>
            <p class="washing-hero_item_customer_name">Bu yolak yuvish uchun bosh</p>
            <div class="washing-hero_item_btn_wrapper">
                <button class="washing-hero_item_sms_btn">
                    Moshina qo'shish
                </button>
            </div>
        </li>
        <li class="washing-hero_item">
            <span class="washing-hero_item_path_number">
                #2 yo‘lak
            </span>
            <div class="washing-hero_item_image_wrapper">
                <img src="Link of image here" alt="">
            </div>
            <p class="washing-hero_item_customer_name">Bu yolak yuvish uchun bosh</p>
            <div class="washing-hero_item_btn_wrapper">
                <button class="washing-hero_item_sms_btn">
                    Moshina qo'shish
                </button>
            </div>
        </li>
        <li class="washing-hero_item">
            <span class="washing-hero_item_path_number">
                #3 yo‘lak
            </span>
            <div class="washing-hero_item_image_wrapper">
                <img src="Link of image here" alt="">
            </div>
            <p class="washing-hero_item_customer_name">Bu yolak yuvish uchun bosh</p>
            <div class="washing-hero_item_btn_wrapper">
                <button class="washing-hero_item_sms_btn">
                    Moshina qo'shish
                </button>
            </div>
        </li>
        <li class="washing-hero_item">
            <span class="washing-hero_item_path_number">
                #4 yo‘lak
            </span>
            <div class="washing-hero_item_image_wrapper">
                <img src="Link of image here" alt="">
            </div>
            <p class="washing-hero_item_customer_name">Bu yolak yuvish uchun bosh</p>
            <div class="washing-hero_item_btn_wrapper">
                <button class="washing-hero_item_sms_btn">
                    Moshina qo'shish
                </button>
            </div>
        </li>
        <li class="washing-hero_item">
            <span class="washing-hero_item_path_number">
                #5 yo‘lak
            </span>
            <div class="washing-hero_item_image_wrapper">
                <img src="Link of image here" alt="">
            </div>
            <p class="washing-hero_item_customer_name">Bu yolak yuvish uchun bosh</p>
            <div class="washing-hero_item_btn_wrapper">
                <button class="washing-hero_item_sms_btn">
                    Moshina qo'shish
                </button>
            </div>
        </li>
        <li class="washing-hero_item">
            <span class="washing-hero_item_path_number">
                #6 yo‘lak
            </span>
            <div class="washing-hero_item_image_wrapper">
                <img src="Link of image here" alt="">
            </div>
            <p class="washing-hero_item_customer_name">Bu yolak yuvish uchun bosh</p>
            <div class="washing-hero_item_btn_wrapper">
                <button class="washing-hero_item_sms_btn">
                    Moshina qo'shish
                </button>
            </div>
        </li>
        <li class="washing-hero_item">
            <span class="washing-hero_item_path_number">
                #7 yo‘lak
            </span>
            <div class="washing-hero_item_image_wrapper">
                <img src="Link of image here" alt="">
            </div>
            <p class="washing-hero_item_customer_name">Bu yolak yuvish uchun bosh</p>
            <div class="washing-hero_item_btn_wrapper">
                <button class="washing-hero_item_sms_btn">
                    Moshina qo'shish
                </button>
            </div>
        </li>
        <li class="washing-hero_item">
            <span class="washing-hero_item_path_number">
                #8 yo‘lak
            </span>
            <div class="washing-hero_item_image_wrapper">
                <img src="Link of image here" alt="">
            </div>
            <p class="washing-hero_item_customer_name">Bu yolak yuvish uchun bosh</p>
            <div class="washing-hero_item_btn_wrapper">
                <button class="washing-hero_item_sms_btn">
                    Moshina qo'shish
                </button>
            </div>
        </li>
    </ul>
</div>
{% endblock %}