{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://carwash.binokor-asaka.uz/">
    <meta property="og:title" content="Car Wash">
    <meta property="og:description" content="Simple CRM System for Car Wash">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- links -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">

    <title>Car Wash | {% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <div class="section-wrapp">
            <div class="container">
                <div class="header-top_wrapper">
                    <h1 class="main-header_title">
                        {% block page %}{% endblock page %}
                    </h1>
                    <div class="header-info_wrapper">
                        <div class="header-info_item_wrapper">
                            <i class="fa-solid fa-clock"></i>
                            <span class="header-time_info"></span>
                        </div>
                        <div class="header-info_item_wrapper">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span class="header-date_info"></span>
                        </div>
                        <div class="header-info_item_wrapper">
                            <i class="fa-solid fa-clouds"></i>
                            <span class="booked-wzs-day-number">Topilmadi°</span>
                        </div>
                        <div class="header-info_item_wrapper">
                            <a href="{% url 'common:logout' %}" class="order-detail_buy_btn">Chiqish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-side_bar_wrapper">
            <div class="header-side_bar">
                <nav class="header_navigation">
                    <ul class="nav_items_wrapper">
                        <li class="nav_item selected">
                            <a class="nav-link" href="{% url 'common:home' %}"><i class="fa-solid fa-house"></i></a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'common:order' %}"><i class="fa-solid fa-square-plus"></i></a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'common:queue' %}"><i class="fa-solid fa-car-mirrors"></i></a>
                        </li>
                        <li class="nav_item">
                            <a class="nav-link" href="{% url 'common:washing' %}"><i class="fa-solid fa-car-wash"></i></a>
                        </li>
                        <li class="nav_item">
                            <a><i class="fa-solid fa-square-dollar"></i></a>
                        </li>
                        <li class="nav_item nav_item_last">
                            <a class="nav-link" href="{% url 'common:settings' %}"><i class="fa-duotone fa-gear"></i></a>
                        </li>
                        <li class="nav_item_helper"></li>
                    </ul>
                </nav>
                <div class="nav_bg"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="main-hero">
            <div class="section-wrapp">
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="section-wrapp">
            <div class="container">
                <ul class="footer-list">
                    <li class="footer-item">
                        Copyright © 2023. CarWash. All rights reserved.
                    </li>
                    <li class="footer-item">
                        <ul class="footer-inner_list">
                            <li class="footer-inner_item">
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="footer-inner_item">
                                <a href="#">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'assets/js/vanilla-tilt_settings.js' %}">
    </script>
    <script src="{% static 'assets/js/vanilla-tilt.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
        var navLinks = document.querySelectorAll('.nav-link');
        navLinks.forEach((e) => {
            if (e.pathname === window.location.pathname) {
                e.parentElement.classList.add('selected');
            } else {
                e.parentElement.classList.remove('selected')
            }
        })
    </script>
    {% block script %}
    {% endblock %}
</body>

</html>